/* :root {
  --bg-image: url(./pointing_meme_flat2.png);
  --bg-image: url('./munkey.png');
  --bg-color: white;
}

[data-theme="dark"] {
  --bg-image: url('./munkey.png');
  --bg-color: black;
}  */

/* body {
  font-family: 'Ubuntu', 'Poppins', sans-serif;
  height: 100%;
  margin: 0;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
} */